.container-canvas {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  .wrapper-canvas {
    touch-action: auto !important;
  }
}
